---
import { getCollection } from 'astro:content';
import BaseHead from '../../components/BaseHead.astro';
import FormattedDate from '../../components/FormattedDate.astro';
import Header from '../../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../../consts';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<style>
			main {
				width: 800px;
			}

			h1 {
				margin-bottom: 1.5em;
				padding-bottom: 0.5em;
				border-bottom: 1px solid var(--border-color);
			}

			ul {
				display: flex;
				flex-direction: column;
				gap: 0;
				list-style-type: none;
				margin: 0;
				padding: 0;
			}

			ul li {
				width: 100%;
				border-bottom: 1px solid var(--border-color);
			}

			ul li:last-child {
				border-bottom: none;
			}

			ul li a {
				display: block;
				padding: 1.5em 0;
				text-decoration: none;
				transition: all 0.2s ease;
			}

			ul li a:hover {
				padding-left: 0.5em;
				border-bottom: none;
			}

			.title {
				margin: 0 0 0.4em 0;
				color: rgb(var(--black));
				line-height: 1.3;
				font-size: 1.2em;
				font-weight: 600;
			}

			.date {
				margin: 0;
				color: rgb(var(--gray));
				font-size: 0.9em;
			}

			ul li a:hover .title {
				color: var(--accent);
			}

			ul li a:hover .date {
				color: rgb(var(--gray-dark));
			}

			@media (max-width: 720px) {
				main {
					width: 100%;
				}

				ul li a {
					padding: 1.2em 0;
				}

				.title {
					font-size: 1.1em;
				}
			}
		</style>
	</head>
	<body>
		<Header />
		<main>
			<div>
				<h1> Latest Posts</h1>
			</div>

			<section>
				<ul>
					{
						posts.map((post) => (
							<li>
								<a href={`/blog/${post.id}/`}>
									<h4 class="title">{post.data.title}</h4>
									<p class="date">
										<FormattedDate date={post.data.pubDate} />
									</p>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
	</body>
</html>
