---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Header from '../components/Header.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			main {
				width: calc(100% - 2em);
				max-width: 100%;
				margin: 0;
				padding: 0;
			}

			.hero-image {
				width: 100%;
				max-width: 880px;
				margin: 2em auto;
				padding: 0 1.5em;
			}

			.hero-image img {
				display: block;
				width: 100%;
				border-radius: 6px;
				box-shadow: var(--shadow-md);
			}

			.prose {
				width: 800px;
				max-width: calc(100% - 3em);
				margin: 0 auto;
				padding: 2em 1.5em 4em;
				color: rgb(var(--gray-dark));
			}

			.title {
				margin-bottom: 2em;
				padding-bottom: 1.5em;
				border-bottom: 1px solid var(--border-color);
			}

			.title h1 {
				margin: 0 0 0.8em 0;
				line-height: 1.2;
				font-size: 2.4em;
				letter-spacing: -0.02em;
			}

			.date {
				font-size: 0.9em;
				color: rgb(var(--gray));
				margin-bottom: 0.3em;
			}

			.last-updated-on {
				font-style: italic;
				font-size: 0.9em;
				color: rgb(var(--gray));
			}

			@media (max-width: 1200px) {
				.prose {
					padding: 1.5em 1em 3em;
				}

				.title h1 {
					font-size: 1.8em;
				}

				.hero-image {
					padding: 0 1em;
					margin: 1em auto;
				}
			}
		</style>
	</head>

	<body>
		<Header />
		<main>
			<article>
				<div class="hero-image">
					{heroImage && <Image width={1020} height={510} src={heroImage} alt="" />}
				</div>
				<div class="prose">
					<div class="title">
						<div class="date">
							<FormattedDate date={pubDate} />
							{
								updatedDate && (
									<div class="last-updated-on">
										Last updated on <FormattedDate date={updatedDate} />
									</div>
								)
							}
						</div>
						<h1>{title}</h1>
					</div>
					<slot />
				</div>
			</article>
		</main>
	</body>
</html>
